@font-face {
    font-family: "Hubot-Sans";
    src: url("./assets/fonts/Hubot-Sans.woff2") format("woff");
}

@font-face {
    font-family: "Mona-Sans";
    src: url("./assets/fonts/Mona-Sans.woff2") format("woff");
}

:root {
    --red-color: rgb(237, 78, 80);
    --orange-color: rgb(252, 139, 88);
    --purple-color: rgb(152, 103, 240);
    --gray-color: rgb(75, 85, 99);
    --dimmed-background: rgb(30, 30, 30);

    --hubot-font: "Hubot-Sans";
    --mona-font: "Mona-Sans";
}

::-webkit-scrollbar {
    width: 0.25em;
}

::-webkit-scrollbar-track {
    background: var(--dimmed-background);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(
        to bottom,
        var(--red-color),
        var(--orange-color)
    );
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
        to bottom,
        var(--red-color),
        var(--purple-color)
    );
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    tab-size: 4;
    scroll-padding-top: 5em;
}

body {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    margin: 1em 0;

    width: 90%;

    border-color: rgba(255, 255, 255, 0.2);
}

#vertical-line {
    display: flex;
    justify-content: center;
    align-items: center;
}

#vertical-line > img {
    height: 10em;
    width: 100%;
}

.blob-container {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;

    filter: blur(5em);
}

.blob {
    position: absolute;

    width: 75%;
    height: 75%;
}

#blob-1 {
    top: -20em;
    left: -40em;

    animation: blob-animation 1s ease-in-out forwards;
}

#blob-2 {
    top: -20em;
    right: -35em;

    animation: blob-animation 1s ease-in-out forwards;
}

#blob-3 {
    top: -20em;
    left: 30em;

    animation: blob-animation 1s ease-in-out forwards;
}

#blob-4 {
    top: 15em;
    right: 10em;
    width: 50%;
    height: 50%;

    animation: blob-animation 1s ease-in-out forwards;
}

@keyframes blob-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    #blob-2 {
        top: -20em;
        left: -20em;
    }
}

.relative {
    display: relative;
}

#header-gradient {
    height: 0.25em;
    background: linear-gradient(
        to right,
        var(--orange-color),
        var(--red-color),
        var(--purple-color)
    );
    background-size: 200% 200%;
    animation: header-animation 3s ease-in-out infinite;
}

@keyframes header-animation {
    0% {
        background-position: 100% 0;
    }

    50% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

header {
    display: flex;
    padding: 0.5em;
    justify-content: center;
    align-items: center;
}

header img {
    margin: auto;
    height: 4.125em;
    width: 4.125em;
    filter: opacity(0.9);
}

.nav-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
}

nav {
    position: sticky;
    top: 0;

    padding: 1.5rem;

    background-color: #ffffffe6;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);

    z-index: 10;

    display: flex;
    justify-content: center;
    gap: 1em;

    font-weight: medium;
    font-family: var(--hubot-font);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-size: 0.8em;
    line-height: 1.25;
}

nav > a {
    display: inline-flex;

    padding: 0.5em 1em;

    transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.2s;

    color: rgb(17, 24, 39);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

main h1 {
    display: flex;
    color: black;
    font-family: var(--hubot-font);
    font-size: 4em;
    line-height: 1em;
    background: linear-gradient(75deg, var(--purple-color), var(--red-color));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

main h2 {
    display: flex;
    color: black;
    font-family: var(--mona-font);
    padding-top: 0.5em;
    font-size: 1em;
    color: dimgray;
}

#main-cube {
    position: absolute;
    filter: opacity(0.2);
    animation: cube-animation 4s ease-in-out infinite;
}

.glass {
    position: relative;
    text-align: center;
    padding: 0.5em;

    z-index: 1;
    margin: 0.5em;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.glass > p {
    margin: 1em;
    font-family: var(--mona-font);
    padding-top: 1em;
    font-size: 1.3em;
    line-height: 1.6em;
    color: dimgray;
    z-index: 2;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;

    margin: 1em;
    border-radius: 10px;
    background: var(--dimmed-background);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.article-title {
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    color: rgb(172, 172, 172);
    font-family: var(--mona-font);
    font-size: 2.5em;
}

article h3 {
    margin: 0.5em 0;
    display: flex;
    font-family: var(--mona-font);
    font-size: 2em;
    line-height: 1em;
    color: black;
}

#mi {
    color: rgb(136, 153, 251);
}

#ne {
    color: rgb(245, 87, 87);
}

#sa {
    color: rgb(226, 99, 246);
}

article img {
    margin: auto;
    height: 8.125em;
    width: 8.125em;
    filter: grayscale(1);

    border-radius: 50%;
}

[alt="project-roadmap"] {
    height: 1.5em;
    width: 1.5em;
    margin-right: 0.2em;

    border-radius: 0%;
}

[alt="people"] {
    height: 2em;
    width: 2em;
    margin-right: 0.2em;

    border-radius: 0%;
}

#team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin: 1em;
}

.team-member {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5em;
    margin: 1em;
    border-radius: 10px;

    background-color: #fff;
    box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.9);

    transition: transform 500ms ease-in-out;
}

.team-member:hover {
    transform: translateY(-15px);
}

.badge {
    display: inline-block;
    font-size: 0.8em;
    font-weight: 600;
    padding: 0.3em 0.6em;
    border-radius: 2em;
    color: black;
    line-height: 18px;
    white-space: nowrap;
    border: 2px solid black;

    margin: 0.5em;

    font-family: var(--hubot-font);

    padding: 0.12em 0.5em;

    font-family: var(--mona-font);
}

@keyframes cube-animation {
    0% {
        transform: translateX(-200px) translateY(-50px);
    }
    50% {
        transform: translateX(-200px) translateY(-60px);
    }
    100% {
        transform: translateX(-200px) translateY(-50px);
    }
}
