/* Hubot Sans */
@font-face {
    font-family: "Hubot-Sans";
    src: url("../assets/fonts/Hubot-Sans.woff2") format("woff");
}

/* Mona Sans */
@font-face {
    font-family: "Mona-Sans";
    src: url("../assets/fonts/Mona-Sans.woff2") format("woff");
}

/* Variables */
:root {
    --red-color: rgb(237, 78, 80);
    --orange-color: rgb(252, 139, 88);
    --purple-color: rgb(152, 103, 240);
    --gray-color: rgb(75, 85, 99);
    --dimmed-background: rgb(30, 30, 30);

    --hubot-font: "Hubot-Sans";
    --mona-font: "Mona-Sans";
}

/* Webkit Scrollbar */
::-webkit-scrollbar {
    width: 0.25em;
    /* 4px */
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--dimmed-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, var(--red-color), var(--orange-color));
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, var(--red-color), var(--purple-color));
}

/* Apply on everything */
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

/* -------------------------------------- */

/* ________________ TAGS ________________ */

/* -------------------------------------- */

body {
    background-color: rgb(245, 245, 245);
}

/* Header · The piece of logo and navigation items */
header {
    padding: 1em;
    /* 16px */

    animation: slide 0.5s ease-in-out;
}

/* Navigation Bar · The links on the navigation bar */
nav {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: auto;

    color: var(--gray-color);
    opacity: 0.8;

    animation: slide 0.5s ease-in-out;
}

/* Span Texts · To have good appearance adding some space between icon and text */
span {
    margin-left: 0.3em;
    margin-right: 0.6em;
}

/* Links · Using parent's attributes with inherit value */
a {
    color: inherit;
    text-decoration: inherit;
}

/* (Links & Spans):hover · When it's on hover, it'll be underlining the link & text */
a:hover,
span:hover {
    text-decoration: underline;
}

/* Main · The hero of the page */
main {
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;

    margin-top: 3em;

    animation: slide 0.5s ease-in-out;
}

/* Article · The article text about me */
article {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25em;
    padding-right: 1.25em;

    max-width: 48rem;

    padding-bottom: 6em;

    animation: slide 0.5s ease-in-out;
}

/* HR · The horizontal line */
hr {
    margin-top: 2em;
    margin-bottom: 2em;

    z-index: 0;
    border-color: rgba(209, 213, 219, 0.4);
}

footer {
    margin: auto;
    height: 0.5em;
    width: 100%;
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;

    color: var(--gray-color);
    font-family: var(--hubot-font);

    background-color: var(--dimmed-background);
}

/* -------------------------------------- */

/* _________________ ID _________________ */

/* -------------------------------------- */
/* The gradient on the top of the screen */
#header-gradient {
    height: 0.25em;
    /* 4px */
    max-width: 100%;

    background: linear-gradient(to right, var(--orange-color), var(--red-color));
}

/* Logo · Logo's container */
#logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo Link · Logo link */
#logo-link {
    display: inline-block;
}

/* Header Logo · The icon of Minesa Hub */
#logo-image {
    margin-right: auto;

    height: 4.125em;
    /* 50px */
    width: 4.125em;
    /* 50px */
}

/* Badge Container · Container of badge */
#badge-container {
    height: 6.25em;
    /* 100px */
    max-width: 12.5em;
    /* 200px */

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Badge · The badge shows my skills */
#badge {
    position: relative;
    padding: 0.4em 1em;
    border: none;
    outline: none;
    border-radius: 25px;

    top: -1.8em;

    z-index: -2;

    background: linear-gradient(to right, var(--orange-color), var(--red-color));
}

/* Badge::before */
#badge::before {
    content: "";

    position: absolute;

    left: 0.0625em;
    right: 0.0625em;
    top: 0.0625em;
    bottom: 0.0625em;

    border-radius: 25px;

    background-color: white;

    z-index: -1;
}

/* Badge::after */
#badge::after {
    content: attr(data);

    font-size: 1.1em;
    font-weight: 600;
    line-height: 1.25em;
    font-family: var(--hubot-font);

    background: linear-gradient(to right, var(--orange-color), var(--red-color));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/* Neo Image · Image of myself, for editing it */
#neo-img {
    overflow-x: hidden;
    overflow-y: hidden;

    flex-shrink: 0;
    border-radius: 50%;

    height: 10.375em;
    width: 10.375em;
    filter: grayscale(0.3);
}

/* Neo Text Container · A div for my username */
#neo-text-container {
    margin-top: 1em;
}

/* Neo Text · The text displays my username  */
#neo-text {
    font-size: 1.8em;
    line-height: 2.25em;

    font-family: var(--mona-font);
    letter-spacing: -0.0025em;
    font-weight: bold;
}

/* Task Text · The text shows off my role */
#task-text {
    font-family: var(--mona-font);
    font-weight: 300;
    font-size: 1.8em;
    line-height: 1.25em;
}

/* Button Container · Container of the buttons */
#button-container {
    display: flex;
    align-items: center;

    flex-wrap: wrap;

    column-gap: 0.75em;
    row-gap: 0.75em;
}

/* About Section · The section about me */
#about-section,
#project-section,
#experience-section,
#education-section, 
#internship-section, 
#contract-section {
    display: flex;
    flex-direction: column;

    align-items: left;
    text-align: left;

    animation: slide 0.5s ease-in-out;
}

/* Hiding project & experience at the load of page */
#project-section,
#experience-section, 
#education-section, 
#internship-section, 
#contract-section {
    display: none;
}

/* #1 blob */
#blob-1 {
    top: 11em;

    animation: blob-animation 6s ease-in-out infinite;
}

/* #2 blob */
#blob-2 {

    top: 10em;
    left: 20em;

    animation: blob-animation 6s ease-in-out infinite;
}

/* #3 blob */
#blob-3 {
    top: 10em;
    left: 12em;

    animation: blob-animation 4s ease-in-out infinite;
}

/* Article unordered list element */
#article-ul {
    margin-left: 0.6em;
}

/* Footer gradient */
#footer-gradient {
    display: absolute;
    bottom: 0;
    height: 0.25em;
    /* 4px */
    max-width: 100%;

    background: linear-gradient(to right, var(--red-color), var(--purple-color));
}

/* -------------------------------------- */

/* _______________ CLASS ________________ */

/* -------------------------------------- */

/* Relative · To make elements inside div relatively move */
.relative {
    display: relative;
}

/* Nav Items · To rule all navigation items */
.nav-items {
    display: flex;
    align-items: center;

    font-family: var(--hubot-font);
}

/* Rounded Corners · For radius */
.rounded-full {
    border-radius: 624.9375em;
    /* 9999px */
}

/* Task & Link Containers · Container of the h2 element and the links */
.connection-container {
    display: inline-flex;

    margin-top: 0.5em;
}

/* For connection items */
.connection-items {
    display: inline;
    vertical-align: middle;

    font-family: var(--mona-font);
}

/* article buttons */
.article-buttons {
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    font-family: var(--hubot-font);
    font-size: 0.9em;
    line-height: 1.25em;
    font-weight: 500;

    cursor: pointer;

    border-radius: 624.9375em;
    /* 9999px */
    border: 1px solid rgb(0, 0, 10);

    animation: slide 0.5s ease-in-out;
}

/* For each article item except the first one */
.article-item {
    display: none;

    margin-top: 1em;
    width: 100%;
    max-width: 65ch;

    color: rgb(55, 65, 81);

    font-family: var(--mona-font);
    font-size: 1.1em;
    line-height: 1.7777778;
}

/* When the button is active */
.article-buttons.active {
    color: white;
    background-color: black;
    outline: none;
}

/* On hovering the button */
.article-buttons:hover {
    background-color: rgba(55, 65, 81, 0.1);
    color: black;
    outline: 4px solid rgba(55, 65, 81, 0.2);
}

/* When the button is active */
.article-buttons.active {
    color: white;
    background-color: black;
    outline: none;

    cursor: default;
}

/* Blobs' container */
.blob-container {
    position: absolute;
    top: -20em;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;

    filter: blur(10em);
}

/* Blobs */
.blob {
    position: absolute;

    width: 50%;
    height: 50%;
    transform: translateX(-50%);
}

/* For about's h1 */
.article-header {
    margin-top: 0.8em;
}

/* for all project embeds */
.project-item {
    margin: 1em 0;
    background-color: var(--dimmed-background);
    border-radius: 0.4em;
    padding: 1em;

    color: rgb(245, 245, 245);

    transition: 200ms;
}

/* For project embed's last child */
.project-item:nth-last-child(1) {
    border: 1px solid var(--dimmed-background);

    color: var(--dimmed-background);
    background: linear-gradient(75deg, var(--purple-color), var(--red-color), var(--orange-color));
    background-size: 200% 200%;

    animation: project-animation 3s ease-in-out infinite;
}

/* When hovering project embed */
.project-item:hover {
    transform: scale(1.05);
}

/* Project platforms aka tags */
.project-platform {
    padding: 0.1em 0.2em;

    font-size: 14px;
}

/* -------------------------------------- */

/* ______________ OTHERS ________________ */

/* -------------------------------------- */

/* When page loads, there's a slide effect */
@keyframes slide {
    from {
        transform: translateY(20%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Blob animations */
@keyframes blob-animation {
    0% {
        transform: translateX(-50%);
    }

    50% {
        transform: translateX(-100px) rotate(-180deg);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* Blob animation for mobile devices */
@media (max-width: 768px) {
    @keyframes blob-animation {
        0% {
            transform: translateX(-10%);
        }

        50% {
            transform: translateX(-50px) rotate(-180deg);
        }

        100% {
            transform: translateX(-10%);
        }
    }
}

/* Animation for last child on project embeds */
@keyframes project-animation {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 0;
    }
}
